/* add your styles here */

h3{
    padding: 20px;
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}

.gallery img{
    width: 100%;
}